/*-- colbox holders --*/
.col-holderscroll
{
    width: 100%;
    overflow: hidden;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    background-color: #35312e;
    -webkit-user-select: none;
    user-select: none;
}

.col-holder
{
    display: flex;
    height: 450px;
    /* width: auto; */
    /* justify-content: center; */
    flex: 0 1 450px;
    filter: blur(0px);
    transition: -webkit-filter .2s;
}

.col-holderholder
{
    margin: auto;
    white-space: nowrap;
}

/*-- col box element outside --*/
.col-holderholder:hover col-box,.col-holderholder.something-expanded col-box
{
    margin: 0 0 0 40px;
}

.col-holderholder.something-expanded col-box
{
    opacity: .3;
}

.col-holderholder.something-expanded col-box.expanded,
.col-holderholder.something-expanded col-box.expanded:hover
{
    opacity: 1;
}

.col-holderholder.something-expanded col-box:hover
{
    opacity: .8;
}

.col-holderholder:hover col-box.expanded .side-label,
.col-holderholder.something-expanded col-box.expanded .side-label
{
    opacity: 0;
}

.col-holderholder:hover col-box .side-label,
.col-holderholder.something-expanded col-box .side-label
{
    opacity: 1;
}

/*-- colbox content (light dom) --*/
.colbox-infobox
{
    color: black;
    font-size: 0;
    overflow: hidden;
    white-space: normal;
}

/* .more-button
{
    width: 100px;
    height: 50px;
    background-color: red;
} */

/*-- azl table box --*/
.azl-info
{
    height: 153px;
    width: 100%;
    font-size: 40px;
    color: #343434;
    font-family: "roboto";
    font-weight: 300;
}

.azl-block
{
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: #343434;
    clip-path: polygon(0% 0%,0% 100%,100% 100%,90% 0%);
    margin-top: 4px;
}

.azl-info .title
{
    height: 50px;
    font-size: 33px;
    padding-top: 34px;
}

.azl-info .title.jp
{
    padding-top: 10px;
}

.azl-info .title>span
{
    vertical-align: top;
}

.azl-info .description
{
    font-size: 14px;
    padding: 0px 31px 0 56px;
    box-sizing: border-box;
}

.azl-info a,.azl-info a:visited
{
    color: #ea7212;
}

.azl-info a:hover
{
    color: #fd9a4b;
}


.info-sectiontall
{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    font-size: 20px;
    color: white;
    font-family: "roboto";
    padding: 16px;
    box-sizing: border-box;
}

.info-sectiontall .title
{
    font-size: 30px;
    padding-top: 30px;
    height: 110px;
}

.info-sectiontall .description
{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 45px;
}

.info-sectiontall a
{
    color: rgb(61,180,242);
}

.info-sectiontall a:hover
{
    color: rgb(144,234,255);
}

/*-- small section boxes --*/
.section-box
{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 150px;
    font-family: "roboto";
    vertical-align: top;
}

.section-box img
{
    width: 100%;
}

.description-box
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 14px;
    z-index: 3;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color .2s;
}

.description-box .title
{
    font-size: 20px;
}

.description-box .gitlink
{
    transition: color .2s;
}

.description-box .gitlink:visited
{
    color: inherit;
}

.description-box .gitlink:hover
{
    color: #22e273;
}

.section-box.gitbox
{
    background-color: #22e273;
    font-size: 32px;
    color: white;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    padding: 34px 36px 0 42px;
    opacity: 1;
    transition: opacity .2s;
}

.section-box.gitbox:hover
{
    opacity: .5;
}

.section-box.main-title
{
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #5f6076;
}

.section-box.main-title.other2
{
    background-color: #5a3c3c;
}

.section-box .main-title
{
    font-size: 27px;
}

.section-box.main-title .description
{
    font-size: 18px;
    font-weight: 300;
}

/*-- description box colours --*/
.description-box.iga
{
    background-color: rgba(150,16,34,.7);
}

.description-box.iga:hover
{
    background-color: rgba(150,16,34,.85);
}

.description-box.tabber
{
    background-color: rgba(0,49,22,.8);
}

.description-box.tabber:hover
{
    background-color: rgba(0,49,22,.9);
}

.description-box.bgmview
{
    background-color: rgba(183,183,183,.7);
    color: black;
}

.description-box.bgmview a
{
    color: black;
}

.description-box.bgmview:hover
{
    background-color: rgba(183,183,183,.8);
}

.description-box.fcards
{
    background-color: rgba(26,99,103,.85);
}

.description-box.fcards:hover
{
    background-color: rgba(26,99,103,.95);
}

.description-box.expandimgur
{
    background-color: rgba(4,93,51,.77);
}

.description-box.expandimgur:hover
{
    background-color: rgba(4,93,51,.85);
}

.description-box.steam
{
    background-color: rgba(23,68,95,.8);
}

.description-box.steam:hover
{
    background-color: rgba(23,68,95,.75);
}

.description-box.bshuff
{
    background-color: rgba(93,62,51,.75);
}

.description-box.bshuff:hover
{
    background-color: rgba(93,62,51,.85);
}

.description-box.anirand
{
    background-color: rgba(142,118,8,0.8);
}

.description-box.anirand:hover
{
    background-color: rgba(142,118,8,0.9);
}

/*-- tall image slider --*/
.tall-imgslider
{
    display: inline-block;
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.tall-imgslider .inside-slider
{
    width: 100%;
}

.inside-slider.slidedown
{
    transform: translateY(-50%);
    transition: transform .4s;
}

/*-- ellephant info --*/
.ellephant-top
{
    height: 100px;
    width: 100%;
    font-family: "roboto";
    color: white;
}

.ellephant-top>div
{
    display: inline-block;
    width: 200px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

.ellephant-top .title
{
    font-size: 45px;
    padding-top: 19px;
}

.ellephant-top.jp .title
{
    position: relative;
    width: 180px;
}

.ellephant-top .description
{
    font-size: 13px;
    font-weight: 300;
    color: #99639b;
    padding-top: 20px;
}

.ellephant-top.jp .description
{
    width: 225px;
    padding: 12px 10px 0 17px;
}

.ellephant-top .description a,.ellephant-top .description a:visited
{
    color: #6693a0;
}

.ellephant-top .description a:hover
{
    color: #9fc3d3;
}

.ellephant-top .img-hold
{
    width: 95px;
}

.ellephant-top.jp .title-furi
{
    position: absolute;
    color: #312e3e;
    font-size: 11px;
    bottom: 11px;
    letter-spacing: 19px;
    white-space: nowrap;
    left: 12px;
}

/*-- abduction --*/
.abduct
{
    position: relative;
    width: 100%;
    height: 100%;
    color: #00ff02;
    font-family: "roboto";
}

.abduct>div
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.abduct .first
{
    display: inline-block;
    width: 375px;
}

.abduct .second
{
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 0;
}

.abduct .title
{
    width: 125px;
    font-size: 20px;
    padding: 80px 0 0 7px;
}

.abduct .description
{
    font-size: 13px;
    width: 250px;
    font-weight: 300;
    padding: 21px 2px 0 27px;
    line-height: 1.2;
}

.abduct .description.jp
{
    padding: 16px 18px 0px 27px;
}

.abduct .subtext
{
    color: #56a5c2;
}

.abduct a,.abduct a:visited
{
    color: #9e53a5;
}

.abduct a:hover
{
    color: #bc54c5;
}

/*-- loading --*/
.col-holderscroll.loading
{
    position: relative;
    cursor: default;
}

.col-holderscroll.loading .col-holder
{
    filter: blur(2px);
}

.loading-msg
{
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;

    font-size: 20px;
    text-align: center;
    color: white;

    opacity: 0;
    background-color: rgba(53,49,46,.8);

    padding-top: 65px;
    box-sizing: border-box;

    transition: opacity .2s 10ms,visibility 0s 0s;
}

.col-holderscroll.loading .loading-msg
{
    visibility: visible;
    opacity: 1;
}

/*-- ui shocase --*/
.shocase
{
    display: flex;
    height: 100%;
    background: url("../img/pinkd1.png");
}

.shocase .white-box
{
    display: flex;
    width: 80%;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    align-items: center;
}

.white-box img
{
    height: 200px;
}

.white-box>div
{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    font-size: 15px;
}

.white-box a
{
    color: #0a0a25;
    display: block;
    text-align: center;
    margin-top: 20px;
}