@charset "UTF-8";

@font-face
{
    font-family: "hw4";
    src: url("font/hw4.otf") format("opentype");
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 0;
    font-family: "hw4";
    overflow: hidden;
    background-color: #35312e;
}

p,dd
{
    margin: 0;
}

/*-- top elements --*/
.top-slider
{
    white-space: nowrap;
    transition: transform .5s ease-out;
}

.top-slider.subpage-active
{
    transform: translateX(-100%);
}

.top-slider>div
{
    display: inline-block;
    vertical-align: top;
}

.main-pageholder
{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.main-page
{
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.sub-page
{
    width: 100%;
    font-size: 20px;
}

.top-box
{
    display: flex;
    width: 100%;
    /* height: 35%; */
    min-height: 400px;
    background-color: #c11e2d;
    flex: 1 1 auto;
}

/*-- colbox holders --*/
.col-holderscroll
{
    width: 100%;
    overflow: auto;
}

.col-holder
{
    display: flex;
    height: 450px;
    /* width: auto; */
    /* justify-content: center; */
    flex: 0 1 450px;
}

.col-holderholder
{
    margin: auto;
    white-space: nowrap;
}

/*-- col box element outside --*/
.col-holderholder:hover col-box
{
    margin: 0 0 0 40px;
}

/*-- colbox content --*/
.colbox-infobox
{
    font-size: 40px;
    color: black;
}

.more-button
{
    width: 100px;
    height: 50px;
    background-color: red;
}

/*-- top box inside --*/
.top-boxbox
{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    margin-top: 0;
}

.top-section
{
    display: inline-block;
    width: 50%;
    height: 400px;
    vertical-align: top;
}

.small-listbox
{
    display: inline-block;
    width: 100px;
    color: white;
    font-size: 13px;
}

.small-listbox dd
{
    height: 18px;
}

.small-listbox dd>span
{
    position: relative;
    bottom: 2px;
    left: 6px;
}

.small-listbox dd.indented
{
    padding-left: 35px;
    position: relative;
}

.small-listbox dd.indented .side-border
{
    position: absolute;
    width: 2px;
    height: 41px;
    border-left: 1px solid white;
    top: 9px;
    left: 22px;
}