@charset "UTF-8";

@font-face
{
    font-family: "hw4";
    src: url("font/hw4.otf") format("opentype");
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 0;
    font-family: "hw4";
}

p
{
    margin: 0;
}

/*-- top elements --*/
.main-page
{
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.top-box
{
    display: flex;
    width: 100%;
    /* height: 35%; */
    min-height: 400px;
    background-color: #d81532;
    flex: 1 1 auto;
}

/*-- colbox holders --*/
.col-holderscroll
{
    width: 100%;
    overflow: auto;
}

.col-holder
{
    display: flex;
    height: 450px;
    /* width: auto; */
    /* justify-content: center; */
    flex: 0 1 450px;
}

.col-holderholder
{
    margin: auto;
    white-space: nowrap;
}

/*-- col box element outside --*/
.col-holderholder:hover col-box
{
    margin: 0 0 0 40px;
}