@charset "UTF-8";

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 0;
}

p
{
    margin: 0;
}

.main-page
{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.top-box
{
    width: 100%;
    height: 35%;
    background-color: #d81532;
}

.col-holder
{
    display: flex;
    height: 100%;
    width: auto;
}

.col-holder-scroll
{
    width: 100%;
    height: 65%;
    overflow: auto;
}